@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Rubik+Doodle+Shadow&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: hsl(185, 75%, 39%);
    color: hsl(229, 23%, 23%);
}

.top img{
    position: fixed;
    left: -15%;
    top: -60%;
    z-index: -1;
}
.bottom img{
    position: fixed;
    right: -10%;
    bottom: -90%;
    z-index: -1;
}

.card{
    width: 350px;
    height: 400px;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

.pfp{
    margin: -55px auto 20px auto;
    position: relative;
    background: url('./images/image-victor.jpg');
    background-size: cover;
    width: 100px; height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #fff, 0px 0px 0px 5px #fff, 0px 0px 5px #fff, 0px 0px 5px #fff;
}

.name{
    margin: 25px;
}

.name p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.name span{
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.stats{
    border-top: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px ;
}

.stats p{
    font-size: 18px;
    font-weight: 700;
}

.stats span{
    font-size: 12px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

@media (max-width: 480px) {
    .top img{
        position: fixed;
        left: -195%;
        top: -50%;
    }
    .bottom img{
        position: fixed;
        top: 50%;
        left: 40%;
    }
}